/* DISCOURSE AUTO-SCALING IFRAMES */

iframe {
  display: block;
  width: 100%;
  height: 100vh;
  border: 1px solid #666;
  box-sizing: border-box;
  transform-origin: center top;
  transition: transform .05s linear;
  backface-visibility: hidden;
}
