/* DISCOURSE AUTO-SCALING IFRAMES */

iframe.scaling {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 1px solid #666;
  box-sizing: border-box;
  transform-origin: center top;
  transition: transform 0.05s linear;
  backface-visibility: hidden;
}
